@model CategoryListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category List</h1>
<ul class="list-group">
    @foreach(var category in Model.Categories)
    {
        <li class="list-group-item">@category.CategoryName</li>
    }
</ul>

